<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{REQUEST_URI} ^/index\.php$
    RewriteRule ^(.*)$ - [L]

    RewriteRule ^(.*)$ /index.php?url=%{REQUEST_URI} [R=302,L,QSA]
</IfModule>
